/* PALETTE */
:root {
    --color-primary: rgb(248, 248, 248);
    --color-primary-op: rgba(248, 248, 248, 0.442);
    --color-secondary: #001829;
    --color-secondary-op: #00182986;
    --color-secondary-op-2: #00182944;
    --color-quinary: rgb(244, 105, 93);
    --color-quinary-op: rgba(244, 106, 93, 0.341);
    --color-quinary-op-2: rgba(244, 106, 93, 0.112);
    --color-quinary-op-3: rgba(244, 106, 93, 0.625);
}

/* FONT */
:root {
    --font-secondary: "Karla", sans-serif;
    --font-primary1: "Genos", sans-serif;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* FONT APPLICATI */
* {
    font-family: var(--font-secondary);
}

.text-title {
    font-family: var(--font-primary1);
}

.text-gradient-title {
    color: var(--color-quinary);
    text-shadow: 2px 2px 4px rgba(114, 13, 13, 0.5);
}

.text-gradient-title2 {
    background: linear-gradient(45deg, var(--color-quinary), var(--color-quinary-op));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COLORI BACKGROUND E BACKGROUND IMG */
.bg-1 {
    background-color: var(--color-primary);
}
.bg-2 {
    background-color: var(--color-secondary);
}
.bg-2-op {
    background-color: var(--color-secondary-op-2);
}
.bg-3 {
    background-color: var(--color-quinary);
}

.bg-tot {
    background: linear-gradient(
        var(--color-primary-op),
        var(--color-primary-op)
        ),
        url("/storage/app/public/media/bg-home.png");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COLORI TESTI */
.text-color-1 {
    color: var(--color-primary) !important;
}
.text-color-2 {
    color: var(--color-secondary);
}
.text-color-5 {
    color: var(--color-quinary);
}

/* ----------------------------------------------------------------------------------------------------------- */
/* FUNZINALITÀ GENERICHE */
body {
    margin-top: 3rem;
    color: var(--color-secondary);
}

.transition {
    transition: all 0.3s ease-in-out !important;
}

.heigh-custom {
    min-height: 60vh;
}

/* COLORI BOTTONI */
.btn-custom {
    color: var(--color-quinary) !important;
    border: 1px solid var(--color-quinary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-custom:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
}

.btn-custom2 {
    border: 2px solid var(--color-secondary) !important;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(6, 0, 0);
    transition: all 0.3s ease-in-out !important;
}
.btn-custom2:hover {
    box-shadow: 0px 0px 0px rgba(6, 0, 0, 0.7), inset 3px 3px 5px rgba(6, 0, 0, 0.9);
    color: var(--color-quinary) !important;
    text-shadow: 0px 0px 10px var(--color-primary-op);
    border: 2px solid var(--color-quinary) !important;
}

.btn-form {
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-secondary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-form:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-quinary) !important;
}

.btn-number {
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-secondary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-number:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-quinary) !important;
}

.btn-footer {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
}
.btn-footer:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-quinary) !important;
    border-color: var(--color-quinary) !important;
}

/* ALTRE FUNZIONALITA GENERICHE */
.is-invalid{
    border-radius: 7px 7px 0 0 !important;
}

.border-custom {
    position: relative;
    padding-bottom: 10px; /* Aggiungi spazio per il bordo */
}

.border-custom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 100px;
    background: linear-gradient(
        90deg,
        var(--color-quinary-op),
        var(--color-quinary)
    );
}

.border-custom2 {
    position: relative;
    padding-bottom: 10px; /* Aggiungi spazio per il bordo */
}

.border-custom2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 100px;
    background: linear-gradient(
        90deg,
        var(--color-secondary),
        var(--color-secondary-op)
    );
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COMPONENTE */
/* CARD */
.card-container {
    width: 17rem;
}
.w-custom {
    width: 90%;
}

.bg-card {
    background: linear-gradient(to bottom right,
        var(--color-quinary-op) 0%,
        var(--color-quinary-op-2) 50%,
        var(--color-quinary-op) 100%);
}

.btn-card {
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-quinary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-card:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-primary) !important;
}

.btn-category {
    border: 1px solid var(--color-secondary) !important;
    padding: 4px 10px !important;
}
.btn-category:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
}

/* PREZZO CARD */
.card-price {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--color-quinary-op-3);
    padding: 5px 10px;
    border-radius: 50px;
    color: var(--color-secondary);
    z-index: 1;
}

.card-heart {
    position: absolute;
    top: -5px;
    left: 0px;
    color: var(--color-secondary);
    z-index: 2;
}

.heart {
    transition: all 0.2s ease-in-out;
}
.heart:hover {
    scale: 1.2 !important;
    color: var(--color-quinary) !important;
    text-shadow: 2px 2px 10px rgb(17, 1, 1);
    animation: vibrate 0.4s infinite !important;
}

.heart-fill {
    transition: all 0.2s ease-in-out;
}
.heart-fill:hover {
    scale: 0.9;
    color: rgb(45, 13, 209) !important;
}

@keyframes vibrate {
    0%,
    20% {
        transform: translateX(0);
    } /* Stato iniziale e pausa */
    30% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }
    60% {
        transform: translateX(2px);
    }
    70%,
    100% {
        transform: translateX(0);
    } /* Ritorna in posizione e pausa */
}

/* CARD IMG */
.img-card {
    transition: all 0.3s ease-in-out;
    height: 250px;
    object-fit: contain;
  }
  .img-card:hover {
    transform: scale(1.1);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      background-color: rgba(0, 0, 0); /* Sfondo nero semi-trasparente */
      border-radius: 50%; /* Rende lo sfondo rotondo */
      padding: 15px; /* Spazio attorno all'icona */
      width: 50px; /* Larghezza */
      height: 50px; /* Altezza */
      display: flex; /* Per centrare l'icona */
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease; /* Animazione al passaggio */
  }

  /* Cambia colore al passaggio */
  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
      background-color: rgba(0, 0, 0, 0.7);
  }

/* COMPONENTE */
/*  PAGINATOR */
.custom-pagination .page-link {
    background: var(--color-primary);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    border-top: none;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    border-radius: 0 !important;
}

.custom-pagination .page-item.active .page-link {
    background: var(--color-secondary);
    color: var(--color-primary);
    scale: 0.8;
}

.custom-pagination .page-link:hover {
    background: var(--color-quinary);
    color: var(--color-primary);
    scale: 0.9;
}

.custom-pagination .page-item.disabled .page-link {
    background: var(--color-quinary-op-2);
    color: var(--color-secondary-op);
}

.custom-pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

/* COMPONENTE */
/* CAROSELLO */
.carousel-home {
    height: 50vh;
    border-radius: 10px;
}

.carousel1 {
    background: url("/storage/app/public/media/slide1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel2 {
    background: url("/storage/app/public/media/slide12.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel3 {
    background: url("/storage/app/public/media/slide3.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-text {
    position: absolute;
    color: var(--color-secondary) !important;
    top: 20px !important;
    left: -150px !important;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* HOMEPAGE */
/* HEADER HOME */
.img-header {
    width: 60vw;
}

.bg-section-home {
    backdrop-filter: blur(2px);
}

/* SWIPER */
.swiper-container {
    width: 100%;
    height: 300px;  /* Set the height of the carousel */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130%;
    color: white;
    background-size: cover;
    background-position: center;
    transition: all 0.2s ease-in-out !important;
    position: relative;
    overflow: hidden;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
}

.swiper-slide:hover::before {
    transform: scale(1.2);
}

.swiper-link {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.category-title h2 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Optional: adds text shadow for readability */
    padding: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-secondary) !important;
    background-color: var(--color-primary-op);
    padding: 30px 30px;
    border-radius: 50px;
}

.swiper-scrollbar-drag {
    background-color: var(--color-secondary) !important;
}

/* WHY ADVIBE HOME */
/* CARD WHY ADVIBE */
.card-why-advibe {
    background-color: var(--color-primary) !important;
}

.card-why-advibe p {
    color: var(--color-secondary);
}
/* Stile per l'hover sul card-body */
.card-why-advibe .card-body {
    transition: all 0.3s ease;
}

.card-why-advibe:hover .card-body {
    transform: translateY(-20px); /* Leggero effetto di sollevamento */
    border-radius: 0.5rem; /* Bordi arrotondati */
    scale: 0.9;
}

/* I NOSTRI NUMERI HOME  */
/* Stile per le card dei contatori */
.counter-card {
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
}
.counter-card:hover {
    transform: translateY(-20px);
}

.counter-value {
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}

.counter-icon {
    background-color: var(--color-primary-op);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.counter-card:hover .counter-icon {
    transform: scale(1.1);
    background-color: var(--color-secondary);
}

/* RECENSIONI HOME */
.review-card {
    background: var(--color-primary);
}

/* ----------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
.logo {
    max-width: 120px;
}
.logo:hover {
    transform: scale(1.1);
}

.active {
    color: var(--color-quinary) !important;
    font-weight: bold;
}

.dropdown-menu {
    background-color: var(--color-secondary) !important;
}

.nav-link:hover {
    color: var(--color-quinary) !important;
}

.dropdown-item:hover {
    background-color: inherit !important;
    color: var(--color-quinary) !important;
}

.dropdown-item.active {
    background-color: transparent !important;
    color: var(--color-quinary);
    font-weight: bold;
}

.logout-link:hover {
    background-color: inherit;
    color: var(--color-secondary) !important;
    border-radius: 5px;
}

.dropdown-toggle {
    color: var(--color-primary) !important;
}
.dropdown-toggle.show {
    color: var(--color-quinary) !important;
}

#settings {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.rotate {
    transform: rotate(360deg);
}

.mt-custom {
    margin-top: 9px !important;
    right: -12px !important;
    border-radius: 0 0 7px 7px !important;
}

.custom-offcanvas {
    background-color: var(--color-secondary) !important; /* Colore di sfondo personalizzato (arancione) */
    color: var(--color-primary) !important; /* Colore del testo */
}

.nav-scrolled {
    background-color: var(--color-secondary);
}

/* NOTIFICA */
@keyframes vibrateWithPause {
    0%,
    20% {
        transform: translateX(0);
    } /* Stato iniziale e pausa */
    30% {
        transform: translateX(-2px);
    }
    40% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    60% {
        transform: translateX(2px);
    }
    70%,
    100% {
        transform: translateX(0);
    } /* Ritorna in posizione e pausa */
}

.vibrate {
    display: inline-block;
    animation: vibrateWithPause 0.8s infinite;
    color: var(--color-quinary-op-3) !important;
    font-weight: bold;
}

.notifica {
    position: absolute;
    top: 7px;
    right: -10px;
    background-color: rgba(244, 106, 93, 0.816);
    color: var(--color-secondary) !important;
}

.notifica2 {
    background-color: rgba(244, 106, 93, 0.816);
    color: var(--color-secondary) !important;
}

.login-icon {
    padding: 2px 6px !important;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgb(6, 0, 0);
    transition: all 0.2s ease-in-out !important;
}
.login-icon:hover {
    padding: 2px 6px !important;
    border-radius: 10px;
    box-shadow: 0px 0px rgba(3, 0, 0, 0.384);
}

.bi-person-circle {
    font-size: 1.8rem !important;
}

.logout-icon {
    color: var(--color-primary);
    padding: 2px 6px !important;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    box-shadow: 4px 4px 2px rgb(6, 0, 0);
    transition: all 0.2s ease-in-out !important;
}
.logout-icon:hover {
    color: var(--color-quinary);
    box-shadow: 0px 0px rgba(3, 0, 0, 0.384);
}

.input-search-navbar {
    background-color: transparent !important;
    border: 1px solid var(--color-quinary) !important;
}

.btn-input-search-bar {
    border: 1px solid var(--color-quinary) !important;
}

.btn-input-search-bar:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
  }

/* ----------------------------------------------------------------------------------------------------------- */
/* NAVBAR RESPONSIVE */
.custom-offcanvas {
    width: 80% !important; /* Occupa solo il 60% dello schermo su mobile */
    max-width: 350px; /* Limite massimo di larghezza */
    transition: transform 0.6s ease-in-out !important; /* Animazione più lenta */
}

.navbar {
    height: 59.8px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

/* Stile per la barra di ricerca */

#searchIcon {
    border: none;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ZONA REVISORE */
/* IMG REVISORE */
.border-revisore-title {
    border-bottom: 2px solid var(--color-secondary);

}

.border-revisore-seller {
    border-bottom: 2px solid var(--color-secondary);
    border-right: 2px solid var(--color-quinary);
    border-left: 2px solid var(--color-quinary);
    border-radius: 30px;
}

.img-effect-revisor {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .img-effect-revisor:hover {
    transform: scale(1.2);
  }

  /* Stile per il modal */
  .image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

  }

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

  }

  .modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 80%;
    z-index: 1001;
    animation: zoomIn 0.3s ease;
  }

  #modalImage {
    max-width: 100%;
    max-height: 80vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .close-modal {
    position: absolute;
    top: -30px;
    right: -30px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }

  /* Stile per i pulsanti di navigazione */
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
  }

  .nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .prev-btn {
    left: -70px;
  }

  .next-btn {
    right: -70px;
  }

  /* Contatore immagini */
  .image-counter {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
  }

/* ----------------------------------------------------------------------------------------------------------- */
/* DETTAGLIO ARTICOLO */
.layout-container {
    margin: 0 auto;
    columns: 3 100px;
    column-gap: 0.5em;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* PGAGINA FORM ARTICOLO */
.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.btn-delete-img {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important;
    border: 2px solid var(--color-quinary) !important;
    border-radius: 50% !important;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
}

.btn-delete-img:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-primary) !important;
    border: 2px solid var(--color-secondary) !important;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* PAGINA PROFILO */
.custom-details {
    border: 2px solid var(--color-quinary-op);
    border-radius: 8px;
    background-color: var(--color-secondary-op);
    font-size: 2vh;
    transition: scale 0.3s ease, background-color 0.6s ease-in-out;
}
.custom-details:hover {
    scale: 1.03;
}
.custom-details[open]:hover {
    scale: 1;
}

/* Quando il dettaglio è aperto */
.custom-details[open] {
    background-color: rgba(0, 0, 0, 0.8); /* Aggiungi un colore di sfondo più scuro */
    z-index: 9999; /* Porta il contenuto sopra gli altri elementi */
    position: fixed; /* Usa una posizione fissa per fare in modo che il contenuto occupi l'intera pagina */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Fissa i margini su tutta la pagina */
    height: 100vh;
    margin-top: 0 !important;
    width: 100%;
}
/* Quando è aperto, espandi il contenuto e rendilo scrollabile */
.custom-details[open] .content {
    padding: 15px;
    overflow-y: auto; /* Abilita lo scroll verticale */
    height: 89vh;
}

.custom-details[open] .custom-summary {
    font-size: 6vh;
    text-align: center;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* MEDIA QUERIES */

/* Applicare la classe nav-scrolled solo su schermi di larghezza >= 992px (desktop) */
@media (min-width: 992px) {
    .nav-scrolled {
        backdrop-filter: blur(7px) !important;
        background-color: var(--color-secondary-op) !important;
    }

    .min-vh-md-100 {
        min-height: 100vh;
    }

}


@media (max-width: 992px) { /* md breakpoint */
    .img-header {
        width: 100vw;
    }

    .login-icon {
        padding: 2px 6px !important;
        border-radius: 10px;
        box-shadow: none;
    }

    .logout-icon {
        color: var(--color-primary);
        padding: 2px 6px !important;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
}

/* Centra il logo su mobile */
@media (max-width: 992px) {
    .navbar-brand {
        margin-left: auto; /* Centra il logo su schermi piccoli */
    }

    .modal-content {
        max-width: 80%;
        max-height: 80%;
      }

    .prev-btn {
    left: -60px;
    }

    .next-btn {
    right: -60px;
    }

    .custom-details {
        border: 2px solid var(--color-quinary-op);
        border-radius: 8px;
        background-color: var(--color-secondary-op);
        font-size: 1.5vh;
        width: 100%;
        transition: scale 0.3s ease, background-color 0.6s ease-in-out;
    }

}

@media (min-width: 992px) { /* lg in Bootstrap */
    .vh-lg-100 {
        height: 100vh;
    }
}


@media (max-width: 768px) {
    .logo-hidden {
        display: none !important;
    }

    .modal-content {
        max-width: 100%;
        max-height: 80%;
      }

    .prev-btn {
    left: -10px;
    }

    .next-btn {
    right: -10px;
    }
}


