/* PALETTE */
:root {
    --color-primary: rgb(248, 248, 248);
    --color-primary-op: rgba(248, 248, 248, 0.442);
    --color-secondary: #001829;
    --color-secondary-op: #00182986;
    --color-secondary-op-2: #00182944;
    --color-quinary: rgb(244, 105, 93);
    --color-quinary-op: rgba(244, 106, 93, 0.341);
    --color-quinary-op-2: rgba(244, 106, 93, 0.112);
    --color-quinary-op-3: rgba(244, 106, 93, 0.625);
}

/* FONT */
:root {
    --font-secondary: "Karla", sans-serif;
    --font-primary1: "Genos", sans-serif;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* FONT APPLICATI */
* {
    font-family: var(--font-secondary);
}

.text-title {
    font-family: var(--font-primary1);
}

.text-gradient-title {
    color: var(--color-quinary);
    text-shadow: 2px 2px 4px rgba(114, 13, 13, 0.5);
}

.text-gradient-title2 {
    background: linear-gradient(45deg, var(--color-quinary), var(--color-quinary-op));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COLORI BACKGROUND E BACKGROUND IMG */
.bg-1 {
    background-color: var(--color-primary);
}
.bg-2 {
    background-color: var(--color-secondary);
}
.bg-2-op {
    background-color: var(--color-secondary-op-2);
}
.bg-3 {
    background-color: var(--color-quinary);
}

.bg-tot {
    background: linear-gradient(
        var(--color-primary-op),
        var(--color-primary-op)
        ),
        url("/storage/app/public/media/bg-home.png");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COLORI TESTI */
.text-color-1 {
    color: var(--color-primary) !important;
}
.text-color-2 {
    color: var(--color-secondary);
}
.text-color-5 {
    color: var(--color-quinary);
}

/* ----------------------------------------------------------------------------------------------------------- */
/* FUNZINALITÀ GENERICHE */
body {
    margin-top: 3rem;
    color: var(--color-secondary);
}

.transition {
    transition: all 0.3s ease-in-out !important;
}

.heigh-custom {
    min-height: 60vh;
}

/* COLORI BOTTONI */
.btn-custom {
    color: var(--color-quinary) !important;
    border: 1px solid var(--color-quinary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-custom:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
}

.btn-custom2 {
    background-color: var(--color-secondary) !important;
    color: var(--color-quinary) !important;
    border: 2px solid var(--color-quinary) !important;
    width: 200px;
}
.btn-custom2:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
    border: 2px solid var(--color-secondary) !important;
}

.btn-form {
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-secondary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-form:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-quinary) !important;
}

.btn-number {
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-secondary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-number:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-quinary) !important;
}

.btn-footer {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
}
.btn-footer:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-quinary) !important;
    border-color: var(--color-quinary) !important;
}

/* ALTRE FUNZIONALITA GENERICHE */
.is-invalid{
    border-radius: 7px 7px 0 0 !important;
}

.border-custom {
    position: relative;
    padding-bottom: 10px; /* Aggiungi spazio per il bordo */
}

.border-custom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 100px;
    background: linear-gradient(
        90deg,
        var(--color-quinary-op),
        var(--color-quinary)
    );
}

.border-custom2 {
    position: relative;
    padding-bottom: 10px; /* Aggiungi spazio per il bordo */
}

.border-custom2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 100px;
    background: linear-gradient(
        90deg,
        var(--color-secondary),
        var(--color-secondary-op)
    );
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COMPONENTE */
/* CARD */
.card-container {
    max-width: 19rem;
}
.w-custom {
    width: 90%;
}

.bg-card {
    background: linear-gradient(to bottom right,
        var(--color-quinary-op) 0%,
        var(--color-quinary-op-2) 50%,
        var(--color-quinary-op) 100%);
}

.btn-card {
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-quinary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-card:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-primary) !important;
}

.btn-category {
    border: 1px solid var(--color-secondary) !important;
    padding: 4px 10px !important;
}
.btn-category:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
}

/* PREZZO CARD */
.card-price {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-quinary-op-3);
    padding: 5px 10px;
    border-radius: 50px;
    color: var(--color-secondary);
    z-index: 1;
}

/* CARD IMG */
.img-card {
    transition: all 0.3s ease-in-out;
  }
  .img-card:hover {
    transform: scale(1.1);
  }

/* COMPONENTE */
/*  PAGINATOR */
.custom-pagination .page-link {
    background: var(--color-primary);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    border-top: none;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    border-radius: 0 !important;
}

.custom-pagination .page-item.active .page-link {
    background: var(--color-secondary);
    color: var(--color-primary);
    scale: 0.8;
}

.custom-pagination .page-link:hover {
    background: var(--color-quinary);
    color: var(--color-primary);
    scale: 0.9;
}

.custom-pagination .page-item.disabled .page-link {
    background: var(--color-quinary-op-2);
    color: var(--color-secondary-op);
}

.custom-pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

/* COMPONENTE */
/* CAROSELLO */
.carousel-home {
    height: 50vh;
    border-radius: 10px;
}

.carousel1 {
    background:linear-gradient(
        to bottom,
        var(--color-quinary-op),
        var(--color-quinary-op)
    ), url("/storage/app/public/media/carosello2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel2 {
    background:linear-gradient(
        to bottom,
        var(--color-quinary-op),
        var(--color-quinary-op)
    ), url("/storage/app/public/media/carosello1.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel3 {
    background:linear-gradient(
        to bottom,
        var(--color-quinary-op),
        var(--color-quinary-op)
    ), url("/storage/app/public/media/carosello3.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-text {
    position: absolute;
    color: var(--color-secondary) !important;
    top: 20px !important;
    left: -300px !important;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* HOMEPAGE */
/* HEADER HOME */
.img-header {
    width: 60vw;
}

.bg-section-home {
    backdrop-filter: blur(10px);
    background-color: rgba(252, 250, 250, 0.5);
}

/* SWIPER */
.swiper-container {
    width: 100%;
    height: 300px;  /* Set the height of the carousel */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130%;
    color: white;
    background-size: cover;
    background-position: center;
    transition: all 0.2s ease-in-out !important;
    position: relative;
    overflow: hidden;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
}

.swiper-slide:hover::before {
    transform: scale(1.2);
}

.swiper-link {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.category-title h2 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Optional: adds text shadow for readability */
    padding: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-secondary) !important;
    background-color: var(--color-primary-op);
    padding: 30px 30px;
    border-radius: 50px;
}

.swiper-scrollbar-drag {
    background-color: var(--color-secondary) !important;
}

/* WHY ADVIBE HOME */
/* CARD WHY ADVIBE */
.card-why-advibe {
    background-color: var(--color-primary) !important;
}

.card-why-advibe p {
    color: var(--color-secondary);
}
/* Stile per l'hover sul card-body */
.card-why-advibe .card-body {
    transition: all 0.3s ease;
}

.card-why-advibe:hover .card-body {
    transform: translateY(-20px); /* Leggero effetto di sollevamento */
    border-radius: 0.5rem; /* Bordi arrotondati */
    scale: 0.9;
}

/* I NOSTRI NUMERI HOME  */
/* Stile per le card dei contatori */
.counter-card {
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
}
.counter-card:hover {
    transform: translateY(-20px);
}

.counter-value {
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}

.counter-icon {
    background-color: var(--color-primary-op);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.counter-card:hover .counter-icon {
    transform: scale(1.1);
    background-color: var(--color-secondary);
}

/* RECENSIONI HOME */
.review-card {
    background: var(--color-primary);
}

/* ----------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
.logo {
    max-width: 120px;
}
.logo:hover {
    transform: scale(1.1);
}

.active {
    color: var(--color-quinary) !important;
    font-weight: bold;
}

.dropdown-menu {
    background-color: var(--color-secondary) !important;
}

.nav-link:hover {
    color: var(--color-quinary) !important;
}

.dropdown-item:hover {
    background-color: inherit !important;
    color: var(--color-quinary) !important;
}

.dropdown-item.active {
    background-color: transparent !important;
    color: var(--color-quinary);
    font-weight: bold;
}

.logout-link:hover {
    background-color: inherit;
    color: var(--color-secondary) !important;
    border-radius: 5px;
}

.dropdown-toggle {
    color: var(--color-primary) !important;
}
.dropdown-toggle.show {
    color: var(--color-quinary) !important;
}

#settings {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.rotate {
    transform: rotate(360deg);
}

.mt-custom {
    margin-top: 9px !important;
    right: -12px !important;
    border-radius: 0 0 7px 7px !important;
}

.mt-custom2 {
    margin-top: 0px !important;
    right: -12px !important;
    border-radius: 0 0 7px 7px !important;
}

.custom-offcanvas {
    background-color: var(--color-secondary) !important; /* Colore di sfondo personalizzato (arancione) */
    color: var(--color-primary) !important; /* Colore del testo */
}

.nav-scrolled {
    background-color: var(--color-secondary);
}

/* NOTIFICA */
@keyframes vibrateWithPause {
    0%,
    20% {
        transform: translateX(0);
    } /* Stato iniziale e pausa */
    30% {
        transform: translateX(-2px);
    }
    40% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    60% {
        transform: translateX(2px);
    }
    70%,
    100% {
        transform: translateX(0);
    } /* Ritorna in posizione e pausa */
}

.vibrate {
    display: inline-block;
    animation: vibrateWithPause 0.8s infinite;
    color: var(--color-quinary-op-3) !important;
    font-weight: bold;
}

.notifica {
    position: absolute;
    top: 15px;
    right: -5px;
    background-color: rgba(244, 106, 93, 0.816);
    color: var(--color-secondary) !important;
}

.notifica2 {
    background-color: rgba(244, 106, 93, 0.816);
    color: var(--color-secondary) !important;
}

.login-icon {
    font-size: 1.8rem !important;
}

.bi-person-circle {
    font-size: 1.8rem !important;
}

.logout-icon {
    font-size: 1.8rem;
    color: var(--color-primary);
    border: none;
    background-color: transparent;
}
.logout-icon:hover {
    color: var(--color-quinary);
    font-weight: bold;
}
/* ----------------------------------------------------------------------------------------------------------- */
/* NAVBAR RESPONSIVE */
.custom-offcanvas {
    width: 80% !important; /* Occupa solo il 60% dello schermo su mobile */
    max-width: 350px; /* Limite massimo di larghezza */
    transition: transform 0.6s ease-in-out !important; /* Animazione più lenta */
}

.navbar {
    height: 59.8px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

/* Stile per la barra di ricerca */
#searchBar {
    background-color: #eae4e4;  /* Colore di sfondo */
    border-radius: 20px;         /* Angoli arrotondati */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* Ombra leggera */
}

/* Stile per il campo di input */
#searchInput {
    background-color: var(--color-secondary);      /* Colore di sfondo del campo di input */
    color: var(--color-primary);                 /* Colore del testo */
    border: 2px solid var(--color-primary);      /* Bordo grigio chiaro */
    border-radius: 20px;
    transition: border-color 0.3s ease;  /* Animazione per il cambio del bordo */
}

/* Cambia il bordo quando il campo di input è in focus */
#searchInput:focus {
    border-color: var(--color-quinary); /* Colore del bordo quando il campo è attivo */
    outline: none;         /* Rimuove l'outline di default */
}

#searchInput::placeholder {
    color: var(--color-primary); /* Colore desiderato per il placeholder */
    opacity: 0.8; /* Opacità, se vuoi che sia visibile */
}

#searchIcon {
    border: none;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ZONA REVISORE */
/* IMG REVISORE */
.border-revisore-title {
    border-bottom: 2px solid var(--color-secondary);

}

.border-revisore-seller {
    border-bottom: 2px solid var(--color-secondary);
    border-right: 2px solid var(--color-quinary);
    border-left: 2px solid var(--color-quinary);
    border-radius: 30px;
}

.img-effect-revisor {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .img-effect-revisor:hover {
    transform: scale(1.05);
  }

  /* Stile per il modal */
  .image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

  }

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

  }

  .modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 80%;
    z-index: 1001;
    animation: zoomIn 0.3s ease;
  }

  #modalImage {
    max-width: 100%;
    max-height: 80vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .close-modal {
    position: absolute;
    top: -30px;
    right: -30px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }

  /* Stile per i pulsanti di navigazione */
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
  }

  .nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .prev-btn {
    left: -70px;
  }

  .next-btn {
    right: -70px;
  }

  /* Contatore immagini */
  .image-counter {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
  }

/* ----------------------------------------------------------------------------------------------------------- */
/* MEDIA QUERIES */

/* Applicare la classe nav-scrolled solo su schermi di larghezza >= 992px (desktop) */
@media (min-width: 992px) {
    .nav-scrolled {
        backdrop-filter: blur(7px) !important;
        background-color: var(--color-secondary-op) !important;
    }

    .min-vh-md-100 {
        min-height: 100vh;
    }
}


@media (max-width: 992px) { /* md breakpoint */
    .img-header {
        width: 100vw;
    }
}

/* Centra il logo su mobile */
@media (max-width: 992px) {
    .navbar-brand {
        margin-left: auto; /* Centra il logo su schermi piccoli */
    }

    .modal-content {
        max-width: 80%;
        max-height: 80%;
      }

    .prev-btn {
    left: -60px;
    }

    .next-btn {
    right: -60px;
    }


}

@media (max-width: 768px) {
    .logo-hidden {
        display: none !important;
    }

    .modal-content {
        max-width: 100%;
        max-height: 80%;
      }

    .prev-btn {
    left: -10px;
    }

    .next-btn {
    right: -10px;
    }
}


