/* PALETTE */
:root {
    --color-primary: rgb(248, 248, 248);
    --color-secondary: #001829;
    --color-secondary-op: #00182986;
    --color-tertiary: #50c4c9;
    --color-quaternary: #bd89ad;
    --color-quinary: rgb(244, 105, 93);
    --color-quinary-op: rgba(244, 106, 93, 0.341);
    --color-quinary-op-2: rgba(244, 106, 93, 0.112);
}

/* FONT */
:root {
    --font-secondary: "Karla", sans-serif;
    --font-primary1: "Genos", sans-serif;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* FONT APPLICATI */
* {
    font-family: var(--font-secondary);
}

.text-title {
    font-family: var(--font-primary1);
}

.text-gradient-title {
    background: linear-gradient(
        90deg,
        var(--color-quinary),
        var(--color-quinary-op)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COLORI BACKGROUND E BACKGROUND IMG */
.bg-1 {
    background-color: var(--color-primary);
}
.bg-2 {
    background-color: var(--color-secondary);
}
.bg-2-op {
    background-color: var(--color-secondary-op);
}
.bg-3 {
    background-color: var(--color-quinary);
}
.bg-3-op {
    background: linear-gradient(to bottom right,
        var(--color-quinary-op-2) 0%,
        var(--color-quinary-op) 50%,
        var(--color-quinary-op-2) 100%);
}

.bg-page-form {
    background: linear-gradient(
            rgb(248, 248, 248, 0.2),
            rgb(248, 248, 248, 0.5),
            rgb(248, 248, 248, 1)
        ),
        url("/storage/app/public/media/sfondo1.webp");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COLORI TESTI */
.text-color-1 {
    color: var(--color-primary) !important;
}
.text-color-2 {
    color: var(--color-secondary);
}
.text-color-5 {
    color: var(--color-quinary);
}

/* ----------------------------------------------------------------------------------------------------------- */
/* FUNZINALITÀ GENERICHE */
body {
    margin-top: 3rem;
    color: var(--color-secondary);
}

.transition {
    transition: all 0.3s ease-in-out !important;
}

/* COLORI BOTTONE */
.btn-custom {
    color: var(--color-quinary) !important;
    border: 1px solid var(--color-quinary) !important;
    transition: all 0.3s ease-in-out !important;
}

.btn-custom:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
}

.border-custom {
    position: relative;
    padding-bottom: 10px; /* Aggiungi spazio per il bordo */
}

.border-custom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 100px;
    background: linear-gradient(
        90deg,
        var(--color-quinary-op),
        var(--color-quinary)
    );
}

/* ----------------------------------------------------------------------------------------------------------- */
/* COMPONENTE */
/* CARD */
.card-container {
    max-width: 19rem;
}
.w-custom {
    width: 90%;
}

.bg-card {
    background: linear-gradient(to bottom right,
        var(--color-quinary-op) 0%,
        var(--color-quinary-op-2) 50%,
        var(--color-quinary-op) 100%);
}

.btn-card {
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-quinary) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-card:hover {
    background-color: var(--color-quinary) !important;
    color: var(--color-primary) !important;
}

.btn-category {
    border: 1px solid var(--color-secondary) !important;
    padding: 2px 8px !important;
}
.btn-category:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
}


/* COMPONENTE */

/* ----------------------------------------------------------------------------------------------------------- */
/* HOMEPAGE */
/* HEADER HOME */
.bg-image {
    background: linear-gradient(
            rgb(248, 248, 248, 0.2),
            rgb(248, 248, 248, 0.5),
            rgb(248, 248, 248)
        ),
        url("/storage/app/public/media/bg-home.png");
    background-size: cover;
    background-position: bottom;
    min-height: 90vh;
}

.img-header {
    width: 60vw;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
.logo {
    max-width: 120px;
}
.logo:hover {
    transform: scale(1.1);
}

.active {
    color: var(--color-quinary) !important;
    font-weight: bold;
}

.dropdown-menu {
    background-color: var(--color-secondary) !important;
}

.nav-link:hover {
    color: var(--color-quinary) !important;
}

.dropdown-item:hover {
    background-color: inherit !important;
    color: var(--color-quinary) !important;
}

.dropdown-item.active {
    background-color: transparent !important;
    color: var(--color-quinary);
    font-weight: bold;
}

.logout-link:hover {
    background-color: inherit;
    color: var(--color-secondary) !important;
    border-radius: 5px;
}

.dropdown-toggle {
    color: var(--color-primary) !important;
}
.dropdown-toggle.show {
    color: var(--color-quinary) !important;
}

#settings {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.rotate {
    transform: rotate(360deg);
}

.mt-custom {
    margin-top: 9px !important;
    right: -12px !important;
    border-radius: 0 0 7px 7px !important;
}

.custom-offcanvas {
    background-color: var(--color-secondary) !important; /* Colore di sfondo personalizzato (arancione) */
    color: var(--color-primary) !important; /* Colore del testo */
}

.nav-scrolled {
    background-color: var(--color-secondary);
}

/* ----------------------------------------------------------------------------------------------------------- */
/* NAVBAR RESPONSIVE */
.custom-offcanvas {
    width: 80% !important; /* Occupa solo il 60% dello schermo su mobile */
    max-width: 350px; /* Limite massimo di larghezza */
    transition: transform 0.6s ease-in-out !important; /* Animazione più lenta */
}

.navbar {
    height: 59.8px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

/* Stile per la barra di ricerca */
#searchBar {
    background-color: #eae4e4;  /* Colore di sfondo */
    border-radius: 20px;         /* Angoli arrotondati */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* Ombra leggera */
}

/* Stile per il campo di input */
#searchInput {
    background-color: var(--color-secondary);      /* Colore di sfondo del campo di input */
    color: var(--color-primary);                 /* Colore del testo */
    border: 2px solid var(--color-primary);      /* Bordo grigio chiaro */
    border-radius: 20px;
    transition: border-color 0.3s ease;  /* Animazione per il cambio del bordo */
}

/* Cambia il bordo quando il campo di input è in focus */
#searchInput:focus {
    border-color: var(--color-quinary); /* Colore del bordo quando il campo è attivo */
    outline: none;         /* Rimuove l'outline di default */
}

#searchInput::placeholder {
    color: var(--color-primary); /* Colore desiderato per il placeholder */
    opacity: 0.8; /* Opacità, se vuoi che sia visibile */
}

#searchIcon {
    border: none;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* LOGIN PAGE */
.heigh-custom {
    min-height: 60vh;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* FOOTER */
.btn-footer {
    background-color: var(--color-quinary) !important;
    color: var(--color-secondary) !important;
    width: 200px;
}

.btn-footer:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-quinary) !important;
    border-color: var(--color-quinary) !important;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* MEDIA QUERIES */

/* Applicare la classe nav-scrolled solo su schermi di larghezza >= 992px (desktop) */
@media (min-width: 992px) {
    .nav-scrolled {
        backdrop-filter: blur(7px) !important;
        background-color: var(--color-secondary-op) !important;
    }

    .min-vh-md-100 {
        min-height: 100vh;
    }
}


@media (max-width: 992px) { /* md breakpoint */
    .img-header {
        width: 100vw;
    }
}

/* Centra il logo su mobile */
@media (max-width: 992px) {
    .navbar-brand {
        margin-left: auto; /* Centra il logo su schermi piccoli */
    }
}

@media (max-width: 768px) {
    .logo-hidden {
        display: none !important;
    }
}


